* {
    margin: 0;
}

.poke-goback {
    position: absolute;
    z-index: 1;
    top: 35px;
    margin-right: 300px;
}

.poke-buttons {
    position: absolute;
    top: 185px;
    z-index: 1;
    margin-right: 300px;
}

.poke-buttons-r {
    position: absolute;
    top: 185px;
    z-index: 1;
    margin-left: 300px;
}

.poke-nextButton {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: white;
}

.poke-nextButton:hover {
    color: #d3d3d3;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

nav > h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    margin-right: auto;
}

nav > input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 16px;

    width: 328px;
    height: 24px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

main {
    padding-right: 20%;
    padding-left: 20%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-maingrid {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    row-gap: 10px;
    justify-items: center;
}

.poke-squareframe {
    width: 208px;
    height: 224px;
    background-color: blue;

    padding: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.poke-squareframe > h1 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
}

.poke-sqaure {
    width: 208px;
    height: 176px;
    background-color: #FFFFFF;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    display: flex;
    flex-direction: column;
}

.poke-sqaure > h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 12px; 
    margin-top: 8px;
    margin-right: 8px;
    align-self: flex-end;
}

.poke-sqaure > img {
    width: 144px;
    height: 144px;
    align-self: center;
}

.poke-frame {
    width: 360px;
    height: 640px;
    border-radius: 12px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.poke-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px;
}

.poke-heading > h1 {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 30px;
}

.poke-heading > h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    color: #FFFFFF;
}

.poke-img {
    height: 200px;
    width: 200px;

    position: absolute;
    z-index: 1;
    align-self: center;
    margin-top: 80px;
}

.poke-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    top: 148px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.poke-mainstats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.poke-type {
    margin: 0 8px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 2px 8px;

    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}

.poke-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0;
}

.poke-mainstats-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #E0E0E0;
}

.poke-mainstats-flex > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 24px; 

    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.poke-mainstats-flex > div > span {
    margin: 0 6px;
}

.poke-mainstats-flex > p {
    color: #666666;
    margin-top: 15px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
}

.ability-list > li:nth-child(1), .ability-list > li:nth-child(2), .ability-list > li:nth-child(3) {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.ability-list > li:last-of-type {
    color: #666666;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
}

.poke-basestats {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
}

.poke-basestats > p:nth-child(1) {
    grid-column: 3/5;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    margin-right: 8px;

}

.poke-basestats > p:nth-child(2) {
    grid-column: 6/7;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    margin-right: 8px;
}

.poke-statholder {
    grid-column: 8 / 11;
    width: 255px;
    height: 10px;
}

.poke-statbar {
    width: 255px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    opacity: 0.2;
}
.poke-fillbar {
    background-color: #74CB48;
    height: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}